@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

body {
  background-image: linear-gradient(
      135deg,
      #bababa08 0%,
      #bababa08 10%,
      #85858508 10%,
      #85858508 14%,
      #26262608 14%,
      #26262608 17%,
      #5d5d5d08 17%,
      #5d5d5d08 25%,
      #50505008 25%,
      #50505008 45%,
      #efefef08 45%,
      #efefef08 100%
    ),
    linear-gradient(
      135deg,
      #ececec08 0%,
      #ececec08 47%,
      #b6b6b608 47%,
      #b6b6b608 63%,
      #dfdfdf08 63%,
      #dfdfdf08 81%,
      #56565608 81%,
      #56565608 89%,
      #17171708 89%,
      #17171708 90%,
      #e2e2e208 90%,
      #e2e2e208 100%
    ),
    linear-gradient(
      45deg,
      #34343408 0%,
      #34343408 31%,
      #f6f6f608 31%,
      #f6f6f608 63%,
      #bcbcbc08 63%,
      #bcbcbc08 71%,
      #0f0f0f08 71%,
      #0f0f0f08 87%,
      #7f7f7f08 87%,
      #7f7f7f08 93%,
      #eaeaea08 93%,
      #eaeaea08 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

iframe {
  margin-left: 80px;
}

table {
  border-collapse: collapse;
}

caption {
  font-size: 30px;
  margin-bottom: 10px;
}

td,
th {
  font-size: 1.3em;
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
}

.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  margin: 30px 0;
  padding: 40px;
}

fieldset p {
  margin-bottom: 20px;
}

button {
  padding: 7px 35px;
  margin: 30px 30px 30px 0;
  border-radius: 10px;
  outline: 0;
  border: 0;
  background-color: lightgray;
  cursor: pointer;
}

nav {
  text-align: center;
  background-color: #808080b6;
  padding: 30px 10%;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 50px;
  font-weight: 700;
  color: #000;
  transition: color 0.5s ease-in;
}

nav ul li a:hover {
  color: #00ffff;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dropdown {
  position: absolute;
  display: none;
  background-color: #80808034;
  margin-left: 0;
  list-style-type: none;
}

nav > ul > li > ul > li {
  margin-bottom: 20px;
}

nav > ul > li > ul > li > a {
  color: #fa5012;
}

nav > ul > li > ul > li > a:hover {
  color: #36f507;
}

nav > ul > li:hover > ul {
  display: block;
}
