@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 50px 0;
}

iframe {
  margin-left: 80px;
}

table {
  border-collapse: collapse;
}

caption {
  font-size: 30px;
  margin-bottom: 10px;
}

td,
th {
  font-size: 1.3em;
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
}

.table__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
